// variables
@import "Variables";

.cardano-blockchain-explorer {
    background-color: $VeryDarkBlack;
    border-radius: 8px;
    border: 1px solid $Grey;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
// first row
.cardano-blockchain-explorer .first-row h2 {
    font-size: 25px;
    color: $White;
    margin-bottom: 30px;
}

.cardano-blockchain-explorer .first-row p {
    color: $White;
}

.cardano-blockchain-explorer .first-row input[type="search"] {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 8px 20px;
    width: 70%;
    border: 1px solid $Grey;
    background-color: $VeryDarkBlack;
    color: $White;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
}

.cardano-blockchain-explorer .first-row input[type="button"]{
    padding: 9px 10px;
    border: 0;
    color: $White;
    background-color: $LightBlue;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    outline: none;
}
// end of first row

// second row
.cardano-blockchain-explorer .second-row {
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    background-color: $MainLayoutBlack;
}

.cardano-blockchain-explorer .second-row .column {
    background-color: $VeryDarkBlack;
    border-radius: 8px;
}

.cardano-blockchain-explorer .second-row .ada-container .barIcon{
    color: $White;
}

.cardano-blockchain-explorer .second-row p.ada{
    color: $DarkGrey;
    margin-bottom: 3px;
}

.cardano-blockchain-explorer .second-row p.price {
    color: $White;
    margin-bottom: 0;
}
// end of second row

// media query
@media screen and (max-width: 314px) {
    .cardano-blockchain-explorer .first-row input[type="search"] {
        width: 67%;
    }
}
