// variables
@import "Variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.burger-nav {
    background-color: $LightGrey;
    border: 0;
    width: 40px;
    color: $Grey;
}

.brand h2 {
    color: $DarkGrey;
}

a {
    cursor: pointer;
    text-decoration: none;
}

#mySidenav .nav-link .nav-link-item, .nav-link .nav-link-item {
    color: $LightGrey;
}

#mySidenav .closebtn {
    display: none;
}

.logout {
    background: none;
    border: 0;
}

// Mobile screen sideNav
@media screen and (max-width: 991px) {
    #mySidenav {
        display: flex;
        overflow-x: hidden;
        z-index: 1;
        background-color: $VeryDarkBlack;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        flex-direction: column;
        align-items: center;
        align-content: center;
        position: fixed;
        height: 100%;
        left: -25px;
        top: 0;
    }

    #mySidenav .closebtn {
        display: block;
        width: 100%;
        position: absolute;
        border: 0;
        top: 15px;
        background-color: $VeryDarkBlack;
        color: $LightGrey;
        margin-left: 150px;
    }

    #mySidenav .home {
        margin-top: 80px;
    }
}
